html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #2F3E46;
    color: white;
}

header {
    position: relative;
    padding: 20px;
    background-color: #CAD2C5;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float:right;
}

header nav ul {
    font-size: large;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 100px;
}

a {
    text-decoration: none;
    
}

aside {

    background-color: #84A98C;
    padding: 60px;
    text-align: left;
    float: left;
}

h2 {
    text-align: center;
}


#about-me {
    width: 600px;
    height: 600px;
    margin: 20px auto;
    text-align: center;
    background-color: #2F3E46;
}


#my-work {
    background-color: #CAD2C5;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    
}

#feature-image {
    padding: 30px;
    width: 500px;
    height: 300px;
}

.card-image {
    width: 300px;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;

}

.descriptor h3, p {
    float: center; 
    margin-right: 20px auto;
    color: white;
    text-align: center;
   
}

.project-card {
    width: 600px;
     margin: 20px auto;
    background-color: #2F3E46;
    
}


#feature-project {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 768px) {
    header,
    main,
    nav {
      flex-direction: column;
      column-count: 1;
      overflow-x: auto;
    }

    #contact {
        width: 100%;
    }
    
    #about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 1;
        margin-left: 10%;
        margin-right: 10%;
        width: 60%;
    }

    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 1;
        margin-left: 10%;
        margin-right: 10%;
        width: 60%;
    }
}

@media screen and (max-width: 1025px) {
    header,
    main,
    nav {
      flex-direction: column;
      column-count: 1;
      justify-content: center;
      overflow-x: auto;
    }
    #contact {
        width: 100%;
    }
    #about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        margin-left: 10%;
        margin-right: 10%;
        width: 60%;
    }

    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 1;
        margin-left: 10%;
        margin-right: 10%;
        width: 60%;
    }
}